ClientApp/ClientApp/Connected Services/WebServiceRef/LightControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TurnOn">
        <s:complexType />
      </s:element>
      <s:element name="TurnOnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TurnOnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TurnOff">
        <s:complexType />
      </s:element>
      <s:element name="TurnOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TurnOffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TurnOnSoapIn">
    <wsdl:part name="parameters" element="tns:TurnOn" />
  </wsdl:message>
  <wsdl:message name="TurnOnSoapOut">
    <wsdl:part name="parameters" element="tns:TurnOnResponse" />
  </wsdl:message>
  <wsdl:message name="TurnOffSoapIn">
    <wsdl:part name="parameters" element="tns:TurnOff" />
  </wsdl:message>
  <wsdl:message name="TurnOffSoapOut">
    <wsdl:part name="parameters" element="tns:TurnOffResponse" />
  </wsdl:message>
  <wsdl:portType name="LightControlSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <wsdl:input message="tns:TurnOnSoapIn" />
      <wsdl:output message="tns:TurnOnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <wsdl:input message="tns:TurnOffSoapIn" />
      <wsdl:output message="tns:TurnOffSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LightControlSoap" type="tns:LightControlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <soap:operation soapAction="http://tempuri.org/TurnOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <soap:operation soapAction="http://tempuri.org/TurnOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LightControlSoap12" type="tns:LightControlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <soap12:operation soapAction="http://tempuri.org/TurnOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <soap12:operation soapAction="http://tempuri.org/TurnOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LightControl">
    <wsdl:port name="LightControlSoap" binding="tns:LightControlSoap">
      <soap:address location="http://localhost:81/LightControl.asmx" />
    </wsdl:port>
    <wsdl:port name="LightControlSoap12" binding="tns:LightControlSoap12">
      <soap12:address location="http://localhost:81/LightControl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>